<a href="https://colab.research.google.com/github/EmePin/hacking-civico/blob/master/tareas/03-exploracion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
<img src="http://codeandomexico.org/resources/img/codeandomexico.png" width="500" alt="Codeando M√©xico"><br>
<a href="http://www.codeandomexico.org/" target="_blank"><img src="https://img.shields.io/badge/website-CodeandoMexico-00D88E.svg"></a>
<a href="http://slack.codeandomexico.org/" target="_blank"><img src="https://img.shields.io/badge/slack-CodeandoMexico-EC0E4F.svg"></a>
</p>
<!-- __ -->

# Curso de Datos Abiertos y Hacking C√≠vico

Este curso tiene como objetivo habilitar las capacidades de la ciudadaniÃÅa y los servidores p√∫blicos en el uso y generaci√≥n de datos abiertos para el bien com√∫n. Puedes encontrar m√°s informaci√≥n [aqu√≠](https://github.com/CodeandoMexico/hacking-civico).

# Exploraci√≥n de datos: COVID-19 en M√©xico

En este cuaderno aprenderemos algunas bases de exploraci√≥n de datos. Los datos a utilizar son los datos abiertos sobre COVID-19 en M√©xico, los cuales pueden ser accedidos directamente desde el portal: https://www.gob.mx/salud/documentos/datos-abiertos-152127

Del portal de datos abiertos podemos encontrar dos enlaces, uno para descargar el conjunto de datos y otro para descargar el diccionario; as√≠ que podemos automatizar el proceso de descarga y descompresi√≥n de la informaci√≥n.

Para obtener los datos, s√≥lo basta que ejecutes la siguiente l√≠nea de c√≥digo, que contiene el comando de descarga de la informaci√≥n.

In [ ]:
# Para descargar el conjunto de datos
!wget http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip

# Para descargar el diccionario de los datos
!wget http://epidemiologia.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip

# Descomprimimos ambas carpetas y movemos archivos
!unzip datos_abiertos_covid19.zip
!unzip diccionario_datos_covid19.zip
!mv ./diccionario_datos_covid19/*.xlsx .
!mv *COVID19MEXICO.csv COVID19MEXICO.csv

# Eliminamos las carpetas comprimidas
!rm -rf diccionario_datos_covid19
!rm datos_abiertos_covid19.zip
!rm diccionario_datos_covid19.zip

--2020-09-07 23:02:14--  http://datosabiertos.salud.gob.mx/gobmx/salud/datos_abiertos/datos_abiertos_covid19.zip
Resolving datosabiertos.salud.gob.mx (datosabiertos.salud.gob.mx)... 187.210.186.146
Connecting to datosabiertos.salud.gob.mx (datosabiertos.salud.gob.mx)|187.210.186.146|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 30272914 (29M) [application/x-zip-compressed]
Saving to: ‚Äòdatos_abiertos_covid19.zip‚Äô

datos_abiertos_covi 100%[===================>]  28.87M  15.3MB/s    in 1.9s

2020-09-07 23:02:16 (15.3 MB/s) - ‚Äòdatos_abiertos_covid19.zip‚Äô saved [30272914/30272914]

--2020-09-07 23:02:17--  http://epidemiologia.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip
Resolving epidemiologia.salud.gob.mx (epidemiologia.salud.gob.mx)... 187.191.75.207
Connecting to epidemiologia.salud.gob.mx (epidemiologia.salud.gob.mx)|187.191.75.207|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://epidemiologia.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip [following]
--2020-09-07 23:02:17--  https://epidemiologia.salud.gob.mx/gobmx/salud/datos_abiertos/diccionario_datos_covid19.zip
Connecting to epidemiologia.salud.gob.mx (epidemiologia.salud.gob.mx)|187.191.75.207|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 81416 (80K) [application/x-zip-compressed]
Saving to: ‚Äòdiccionario_datos_covid19.zip‚Äô

diccionario_datos_c 100%[===================>]  79.51K  --.-KB/s    in 0.07s

2020-09-07 23:02:17 (1.14 MB/s) - ‚Äòdiccionario_datos_covid19.zip‚Äô saved [81416/81416]

Archive:  datos_abiertos_covid19.zip
  inflating: 200906COVID19MEXICO.csv
Archive:  diccionario_datos_covid19.zip
  inflating: diccionario_datos_covid19/Catalogos_0412.xlsx
  inflating: diccionario_datos_covid19/Descriptores_0419.xlsx

Hasta este punto, si abres la barra lateral izaquiera, deber√≠as ser capaz de encontrar los datos:

- `COVID19MEXICO.csv`
- `Catalogos_0412.xlsx`
- `Descriptores_0419.xlsx`

üëàüèº

## Carga

Ahora que tenemos los datos, procederemos a cargarlos. Para cargar los datos, primero importaremos algunos paquetes de Python, pues su funcionalidad nos ser√° muy util.

In [ ]:
import statistics

import pandas as pd
import numpy as np

In [ ]:
# Especificamos el nombre del archivo por abrir
nombre_archivo = 'COVID19MEXICO.csv'

# Utilizamos la funci√≥n de Pandas para cargar un archivo CSV
data = pd.read_csv(nombre_archivo, encoding='latin-1')

Mostramos la cabeza (primeros elementos del archivo).

In [ ]:
data.head()

  FECHA_ACTUALIZACION ID_REGISTRO  ORIGEN  ...  PAIS_NACIONALIDAD  PAIS_ORIGEN  UCI
0          2020-09-06      059369       2  ...            M√É¬©xico           99    2
1          2020-09-06      0e85b3       2  ...            M√É¬©xico           99   97
2          2020-09-06      07d239       2  ...            M√É¬©xico           99   97
3          2020-09-06      1b6ee6       2  ...            M√É¬©xico           99   97
4          2020-09-06      0cb658       2  ...            M√É¬©xico           99   97

[5 rows x 35 columns]

Ahora procedemos a cargar el archivo con los descriptores.

In [ ]:
nombre_diccionario = 'Descriptores_0419.xlsx'
diccionario = pd.read_excel(nombre_diccionario)

In [ ]:
diccionario

    N¬∫  ...                                   FORMATO O FUENTE
0    1  ...                                         AAAA-MM-DD
1    2  ...                                             TEXTO
2    3  ...  CAT√ÅLOGO: ORIGEN                              ...
3    4  ...  CAT√ÅLOGO: SECTOR                              ...
4    5  ...                                CATAL√ìGO: ENTIDADES
5    6  ...       CAT√ÅLOGO: SEXO
6    7  ...                                CATAL√ìGO: ENTIDADES
7    8  ...                                CATAL√ìGO: ENTIDADES
8    9  ...                               CATAL√ìGO: MUNICIPIOS
9   10  ...                           CAT√ÅLOGO: TIPO_PACIENTE
10  11  ...                                         AAAA-MM-DD
11  12  ...                                         AAAA-MM-DD
12  13  ...                                         AAAA-MM-DD
13  14  ...  CAT√ÅLOGO: SI_ NO                              ...
14  15  ...  CAT√ÅLOGO: SI_ NO                              ...
15  16  ...                                   N√öMERICA EN A√ëOS
16  17  ...                            CAT√ÅLOGO: NACIONALIDAD
17  18  ...  CAT√ÅLOGO: SI_ NO                              ...
18  19  ...  CAT√ÅLOGO: SI_ NO                              ...
19  20  ...  CAT√ÅLOGO: SI_ NO                              ...
20  21  ...  CAT√ÅLOGO: SI_ NO                              ...
21  22  ...  CAT√ÅLOGO: SI_ NO                              ...
22  23  ...  CAT√ÅLOGO: SI_ NO                              ...
23  24  ...  CAT√ÅLOGO: SI_ NO                              ...
24  25  ...  CAT√ÅLOGO: SI_ NO                              ...
25  26  ...  CAT√ÅLOGO: SI_ NO                              ...
26  27  ...  CAT√ÅLOGO: SI_ NO                              ...
27  28  ...  CAT√ÅLOGO: SI_ NO                              ...
28  29  ...  CAT√ÅLOGO: SI_ NO                              ...
29  30  ...  CAT√ÅLOGO: SI_ NO                              ...
30  31  ...                                CAT√ÅLOGO: RESULTADO
31  32  ...  CAT√ÅLOGO: SI_ NO                              ...
32  33  ...                               TEXTO, 99= SE IGNORA
33  34  ...                               TEXTO, 97= NO APLICA
34  35  ...  CAT√ÅLOGO: SI_ NO                              ...

[35 rows x 4 columns]

Finalmente, cargamos el rachivo de cat√°logos.

In [ ]:
nombre_cat = 'Catalogos_0412.xlsx'
sheets = ['ORIGEN', 'SECTOR', 'SEXO', 'TIPO_PACIENTE', 'SI_NO', 'NACIONALIDAD', 'RESULTADO', 'de ENTIDADES', 'MUNICIPIOS']
catalogues = {}
for sheet in sheets:
  catalogue = pd.read_excel(nombre_cat, sheet_name='Cat√°logo ' + sheet)
  catalogue.columns = catalogue.columns.str.replace(' ', '_')
  catalogue.columns = catalogue.columns.str.replace('.', '')
  catalogue.columns = catalogue.columns.str.lower()
  new_catalogue = {sheet: catalogue}
  catalogues.update(new_catalogue)

In [ ]:
catalogues

{'MUNICIPIOS':       clave_municipio        municipio  clave_entidad
 0                   1   AGUASCALIENTES              1
 1                   2         ASIENTOS              1
 2                   3         CALVILLO              1
 3                   4            COS√çO              1
 4                   5      JES√öS MAR√çA              1
 ...               ...              ...            ...
 2496              999  NO ESPECIFICADO             32
 2497              999  NO ESPECIFICADO             36
 2498              997        NO APLICA             97
 2499              998        SE IGNORA             98
 2500              999  NO ESPECIFICADO             99

 [2501 rows x 3 columns], 'NACIONALIDAD':    clave      descripci√≥n
 0      1         MEXICANA
 1      2       EXTRANJERA
 2     99  NO ESPECIFICADO, 'ORIGEN':    clave      descripci√≥n
 0      1            USMER
 1      2   FUERA DE USMER
 2     99  NO ESPECIFICADO, 'RESULTADO':   unnamed:_0              unnamed:_1
 0      CLAVE             DESCRIPCI√ìN
 1          1     Positivo SARS-CoV-2
 2          2  No positivo SARS-CoV-2
 3          3     Resultado pendiente, 'SECTOR':     clave      descripci√≥n
 0       1        CRUZ ROJA
 1       2              DIF
 2       3          ESTATAL
 3       4             IMSS
 4       5   IMSS-BIENESTAR
 5       6           ISSSTE
 6       7        MUNICIPAL
 7       8            PEMEX
 8       9          PRIVADA
 9      10           SEDENA
 10     11            SEMAR
 11     12              SSA
 12     13    UNIVERSITARIO
 13     99  NO ESPECIFICADO, 'SEXO':    clave      descripci√≥n
 0      1            MUJER
 1      2           HOMBRE
 2     99  NO ESPECIFICADO, 'SI_NO':    clave      descripci√≥n
 0      1              SI
 1      2              NO
 2     97        NO APLICA
 3     98        SE IGNORA
 4     99  NO ESPECIFICADO, 'TIPO_PACIENTE':    clave      descripci√≥n
 0      1      AMBULATORIO
 1      2    HOSPITALIZADO
 2     99  NO ESPECIFICADO, 'de ENTIDADES':     clave_entidad               entidad_federativa abreviatura
 0               1                   AGUASCALIENTES          AS
 1               2                  BAJA CALIFORNIA          BC
 2               3              BAJA CALIFORNIA SUR          BS
 3               4                         CAMPECHE          CC
 4               5             COAHUILA DE ZARAGOZA          CL
 5               6                           COLIMA          CM
 6               7                          CHIAPAS          CS
 7               8                        CHIHUAHUA          CH
 8               9                 CIUDAD DE M√âXICO          DF
 9              10                          DURANGO          DG
 10             11                       GUANAJUATO          GT
 11             12                         GUERRERO          GR
 12             13                          HIDALGO          HG
 13             14                          JALISCO          JC
 14             15                           M√âXICO          MC
 15             16              MICHOAC√ÅN DE OCAMPO          MN
 16             17                          MORELOS          MS
 17             18                          NAYARIT          NT
 18             19                       NUEVO LE√ìN          NL
 19             20                           OAXACA          OC
 20             21                           PUEBLA          PL
 21             22                        QUER√âTARO          QT
 22             23                     QUINTANA ROO          QR
 23             24                  SAN LUIS POTOS√ç          SP
 24             25                          SINALOA          SL
 25             26                           SONORA          SR
 26             27                          TABASCO          TC
 27             28                       TAMAULIPAS          TS
 28             29                         TLAXCALA          TL
 29             30  VERACRUZ DE IGNACIO DE LA LLAVE          VZ
 30             31                          YUCAT√ÅN          YN
 31             32                        ZACATECAS          ZS
 32             36         ESTADOS UNIDOS MEXICANOS         EUM
 33             97                        NO APLICA         NaN
 34             98                        SE IGNORA          SI
 35             99                  NO ESPECIFICADO          NE}

In [ ]:
catalogues['SEXO']

   clave      descripci√≥n
0      1            MUJER
1      2           HOMBRE
2     99  NO ESPECIFICADO

##Perfilamiento

###Descripci√≥n General

In [ ]:
# dimensi√≥n de los datos
print('N√∫mero de filas: {}'.format(data.shape[0]))
print('N√∫mero de columnas: {}'.format(data.shape[1]))

N√∫mero de filas: 1431633
N√∫mero de columnas: 35

In [ ]:
# columnas (variables)
data.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM',
       'SEXO', 'ENTIDAD_NAC', 'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE',
       'FECHA_INGRESO', 'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA',
       'EDAD', 'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'DIABETES',
       'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'RESULTADO', 'MIGRANTE', 'PAIS_NACIONALIDAD',
       'PAIS_ORIGEN', 'UCI'],
      dtype='object')

In [ ]:
# limpieza del nombre de las columnas, remover espacios, car√°cteres especiales y pasar a min√∫sculas
data.columns = data.columns.str.replace(' ', '_')
data.columns = data.columns.str.replace('.', '')
data.columns = data.columns.str.lower()

In [ ]:
# calcular n√∫mero de valores nulos por columna
for col in data.columns:
  print('Valores nulos en "{}": {}'.format(col,data[col].isna().sum()))

Valores nulos en "fecha_actualizacion": 0
Valores nulos en "id_registro": 0
Valores nulos en "origen": 0
Valores nulos en "sector": 0
Valores nulos en "entidad_um": 0
Valores nulos en "sexo": 0
Valores nulos en "entidad_nac": 0
Valores nulos en "entidad_res": 0
Valores nulos en "municipio_res": 0
Valores nulos en "tipo_paciente": 0
Valores nulos en "fecha_ingreso": 0
Valores nulos en "fecha_sintomas": 0
Valores nulos en "fecha_def": 0
Valores nulos en "intubado": 0
Valores nulos en "neumonia": 0
Valores nulos en "edad": 0
Valores nulos en "nacionalidad": 0
Valores nulos en "embarazo": 0
Valores nulos en "habla_lengua_indig": 0
Valores nulos en "diabetes": 0
Valores nulos en "epoc": 0
Valores nulos en "asma": 0
Valores nulos en "inmusupr": 0
Valores nulos en "hipertension": 0
Valores nulos en "otra_com": 0
Valores nulos en "cardiovascular": 0
Valores nulos en "obesidad": 0
Valores nulos en "renal_cronica": 0
Valores nulos en "tabaquismo": 0
Valores nulos en "otro_caso": 0
Valores nulos en "resultado": 0
Valores nulos en "migrante": 0
Valores nulos en "pais_nacionalidad": 0
Valores nulos en "pais_origen": 0
Valores nulos en "uci": 0

In [ ]:
# tipos de datos
data.dtypes

fecha_actualizacion    object
id_registro            object
origen                  int64
sector                  int64
entidad_um              int64
sexo                    int64
entidad_nac             int64
entidad_res             int64
municipio_res           int64
tipo_paciente           int64
fecha_ingreso          object
fecha_sintomas         object
fecha_def              object
intubado                int64
neumonia                int64
edad                    int64
nacionalidad            int64
embarazo                int64
habla_lengua_indig      int64
diabetes                int64
epoc                    int64
asma                    int64
inmusupr                int64
hipertension            int64
otra_com                int64
cardiovascular          int64
obesidad                int64
renal_cronica           int64
tabaquismo              int64
otro_caso               int64
resultado               int64
migrante                int64
pais_nacionalidad      object
pais_origen            object
uci                     int64
dtype: object

###Limpieza

In [ ]:
# convertimos a fecha algunas columnas
def cast_datetime_cols(df):
    timestamp_cols = [col for col in df.columns if "fecha" in col]
    df[timestamp_cols] = df[timestamp_cols].apply(lambda date_col: pd.to_datetime(date_col, errors="coerce"), axis=0)
    return df

data = cast_datetime_cols(data)

In [ ]:
data.head()

  fecha_actualizacion id_registro  origen  ...  pais_nacionalidad  pais_origen  uci
0          2020-09-06      059369       2  ...            M√É¬©xico           99    2
1          2020-09-06      0e85b3       2  ...            M√É¬©xico           99   97
2          2020-09-06      07d239       2  ...            M√É¬©xico           99   97
3          2020-09-06      1b6ee6       2  ...            M√É¬©xico           99   97
4          2020-09-06      0cb658       2  ...            M√É¬©xico           99   97

[5 rows x 35 columns]

In [ ]:
# unimos los datos con los catalogos para tener mejor entendimiento de ellos
data = (
    # unimos con el cat√°logo MUNICIPIOS y ENTIDADES
    data.merge(catalogues['de ENTIDADES'], how='left', left_on='entidad_res', right_on='clave_entidad').
    drop(columns=['entidad_res', 'abreviatura']).
    rename(columns={'entidad_federativa':'entidad_res'}).
    merge(catalogues['MUNICIPIOS'], how='left', left_on=['clave_entidad','municipio_res'], right_on=['clave_entidad','clave_municipio']).
    drop(columns=['municipio_res', 'clave_entidad', 'clave_municipio']).
    rename(columns={'municipio':'municipio_res'})
)

In [ ]:
# unimos con el cat√°logo de ENTIDADES
entidades_cols = [col for col in data.columns if "entidad" in col and col != 'entidad_res']
for col in entidades_cols:
    data = (
        data.merge(catalogues['de ENTIDADES'], how='left', left_on=col, right_on='clave_entidad').
        drop(columns=[col, 'abreviatura', 'clave_entidad']).
        rename(columns={'entidad_federativa':col})
    )

In [ ]:
# unimos con el cat√°logo SI_NO
sino_cols = ['intubado', 'neumonia', 'embarazo', 'habla_lengua_indig', 'diabetes', 'epoc', 'asma', 'inmusupr',
             'hipertension', 'otra_com', 'cardiovascular', 'obesidad', 'renal_cronica', 'tabaquismo', 
             'otro_caso', 'migrante', 'uci']
for col in sino_cols:
    data = (
        data.merge(catalogues['SI_NO'], how='left', left_on=col, right_on='clave').
        drop(columns=[col, 'clave']).
        rename(columns={'descripci√≥n':col})
    )

In [ ]:
# unimos otras columnnas que comparten l√≥gica
other_cols = ['origen', 'sector', 'sexo', 'tipo_paciente', 'nacionalidad', 'resultado']
for col, cat in zip(other_cols, [x.upper() for x in other_cols]):
    data = (
        data.merge(catalogues[cat], how='left', left_on=col, right_on='clave').
        drop(columns=[col, 'clave']).
        rename(columns={'descripci√≥n':col})
    )

ValueError: ignored

In [ ]:
# creamos algunas variables que podr√≠an ser √∫tiles despu√©s
data['defuncion'] = ~data.fecha_def.isna()
data['mes_def'] = data.fecha_def.dt.month
data['a√±o_def'] = data.fecha_def.dt.year
data['mes_ingreso'] = data.fecha_ingreso.dt.month
data['a√±o_ingreso'] = data.fecha_ingreso.dt.year

In [ ]:
data.head()

  fecha_actualizacion id_registro  ...  tipo_paciente nacionalidad
0          2020-09-06      059369  ...  HOSPITALIZADO     MEXICANA
1          2020-09-06      0e85b3  ...    AMBULATORIO     MEXICANA
2          2020-09-06      07d239  ...    AMBULATORIO     MEXICANA
3          2020-09-06      1b6ee6  ...    AMBULATORIO     MEXICANA
4          2020-09-06      0cb658  ...    AMBULATORIO     MEXICANA

[5 rows x 35 columns]

###Filtros

**Distintas formas de filtrar lo mismo**

In [ ]:
# usando query
data.query('nacionalidad == "MEXICANA"').head(2)

  fecha_actualizacion id_registro  ... mes_ingreso a√±o_ingreso
0          2020-09-06      059369  ...           4        2020
1          2020-09-06      0e85b3  ...           4        2020

[2 rows x 40 columns]

In [ ]:
# haciendo referencia a la columna como √≠ndice
data[data['nacionalidad'] == 'MEXICANA'].head(2)

  fecha_actualizacion id_registro  ... mes_ingreso a√±o_ingreso
0          2020-09-06      059369  ...           4        2020
1          2020-09-06      0e85b3  ...           4        2020

[2 rows x 40 columns]

In [ ]:
# seleccionando directamente la columna que queremos filtrar
data[data.nacionalidad == 'MEXICANA'].head(2)

  fecha_actualizacion id_registro  ... mes_ingreso a√±o_ingreso
0          2020-09-06      059369  ...           4        2020
1          2020-09-06      0e85b3  ...           4        2020

[2 rows x 40 columns]

**Filtrado m√∫ltiple**

In [ ]:
# usando query podemos poner en el string del query todas las condiciones que queramos
data.query('nacionalidad == "MEXICANA" & entidad_res == "CIUDAD DE M√âXICO"').head(2)

  fecha_actualizacion id_registro  ... mes_ingreso a√±o_ingreso
1          2020-09-06      0e85b3  ...           4        2020
7          2020-09-06      0d1e90  ...           4        2020

[2 rows x 40 columns]

In [ ]:
# usando el filtrado tradicional debemos encerrar en par√©ntesis cada condici√≥n que queremos que cumpla nuestro filtro
data[(data['nacionalidad'] == "MEXICANA") & (data.entidad_res == "CIUDAD DE M√âXICO")].head(2)

  fecha_actualizacion id_registro  ... mes_ingreso a√±o_ingreso
1          2020-09-06      0e85b3  ...           4        2020
7          2020-09-06      0d1e90  ...           4        2020

[2 rows x 40 columns]

###Res√∫menes

In [ ]:
# una columna, una m√©trica
data.groupby('sexo').edad.mean()

sexo
HOMBRE    42.763535
MUJER     41.706240
Name: edad, dtype: float64

In [ ]:
# una columna, varias m√©tricas
data.groupby('sexo').agg({'edad': ['min','mean','max']})

       edad
        min       mean  max
sexo
HOMBRE    0  42.763535  120
MUJER     0  41.706240  120

In [ ]:
# varias columnas, una m√©trica
data.groupby('sexo').agg({'edad': 'mean', 'mes_ingreso': 'mean', 'mes_def': 'mean'})

             edad  mes_ingreso   mes_def
sexo
HOMBRE  42.763535     6.609148  6.405899
MUJER   41.706240     6.677397  6.472538

In [ ]:
# varias columnas, varias m√©tricas
data.groupby('sexo').agg({'edad': ['min','mean','max'], 'mes_ingreso': ['min','mean','max'], 'mes_def': ['min','mean','max']})

       edad                 mes_ingreso               mes_def
        min       mean  max         min      mean max     min      mean  max
sexo
HOMBRE    0  42.763535  120           1  6.609148   9     1.0  6.405899  9.0
MUJER     0  41.706240  120           1  6.677397   9     1.0  6.472538  9.0

###Descripci√≥n por Tipo

In [ ]:
# Filtrar por tipos generales (categ√≥ricas y num√©ricas)
numerical = data.select_dtypes(include='number')
categorical = data.select_dtypes(include=['object', 'bool', 'category', 'datetime64[ns]'])

In [ ]:
numerical.head()

   edad  resultado  mes_def  a√±o_def  mes_ingreso  a√±o_ingreso
0    51          1      NaN      NaN            4         2020
1    37          1      NaN      NaN            4         2020
2    50          1      NaN      NaN            6         2020
3    35          1      NaN      NaN            4         2020
4    39          1      NaN      NaN            4         2020

In [ ]:
categorical.head()

  fecha_actualizacion id_registro  ... nacionalidad defuncion
0          2020-09-06      059369  ...     MEXICANA     False
1          2020-09-06      0e85b3  ...     MEXICANA     False
2          2020-09-06      07d239  ...     MEXICANA     False
3          2020-09-06      1b6ee6  ...     MEXICANA     False
4          2020-09-06      0cb658  ...     MEXICANA     False

[5 rows x 34 columns]

In [ ]:
# para conocer todos los tipo de datos
?data.select_dtypes

####Categ√≥ricas

In [ ]:
# Cardinalidad - Valores √∫nicos por columna
for col in categorical.columns:
  print('Valores √∫nicos en "{}": {}'.format(col,categorical[col].nunique()))

Valores √∫nicos en "fecha_actualizacion": 1
Valores √∫nicos en "id_registro": 1431633
Valores √∫nicos en "fecha_ingreso": 250
Valores √∫nicos en "fecha_sintomas": 250
Valores √∫nicos en "fecha_def": 195
Valores √∫nicos en "pais_nacionalidad": 120
Valores √∫nicos en "pais_origen": 77
Valores √∫nicos en "entidad_res": 32
Valores √∫nicos en "municipio_res": 2158
Valores √∫nicos en "entidad_um": 32
Valores √∫nicos en "entidad_nac": 33
Valores √∫nicos en "intubado": 4
Valores √∫nicos en "neumonia": 3
Valores √∫nicos en "embarazo": 4
Valores √∫nicos en "habla_lengua_indig": 3
Valores √∫nicos en "diabetes": 3
Valores √∫nicos en "epoc": 3
Valores √∫nicos en "asma": 3
Valores √∫nicos en "inmusupr": 3
Valores √∫nicos en "hipertension": 3
Valores √∫nicos en "otra_com": 3
Valores √∫nicos en "cardiovascular": 3
Valores √∫nicos en "obesidad": 3
Valores √∫nicos en "renal_cronica": 3
Valores √∫nicos en "tabaquismo": 3
Valores √∫nicos en "otro_caso": 3
Valores √∫nicos en "migrante": 3
Valores √∫nicos en "uci": 4
Valores √∫nicos en "origen": 2
Valores √∫nicos en "sector": 14
Valores √∫nicos en "sexo": 2
Valores √∫nicos en "tipo_paciente": 2
Valores √∫nicos en "nacionalidad": 2
Valores √∫nicos en "defuncion": 2

In [ ]:
# Unicidad - proporci√≥n de valores √∫nicos por columna
total = data.shape[0]
for col in categorical.columns:
  print('Porcentaje de valores √∫nicos en "{}": {}%'.format(col,round(categorical[col].nunique()/total*100,2)))

Porcentaje de valores √∫nicos en "fecha_actualizacion": 0.0%
Porcentaje de valores √∫nicos en "id_registro": 100.0%
Porcentaje de valores √∫nicos en "fecha_ingreso": 0.02%
Porcentaje de valores √∫nicos en "fecha_sintomas": 0.02%
Porcentaje de valores √∫nicos en "fecha_def": 0.01%
Porcentaje de valores √∫nicos en "pais_nacionalidad": 0.01%
Porcentaje de valores √∫nicos en "pais_origen": 0.01%
Porcentaje de valores √∫nicos en "entidad_res": 0.0%
Porcentaje de valores √∫nicos en "municipio_res": 0.15%
Porcentaje de valores √∫nicos en "entidad_um": 0.0%
Porcentaje de valores √∫nicos en "entidad_nac": 0.0%
Porcentaje de valores √∫nicos en "intubado": 0.0%
Porcentaje de valores √∫nicos en "neumonia": 0.0%
Porcentaje de valores √∫nicos en "embarazo": 0.0%
Porcentaje de valores √∫nicos en "habla_lengua_indig": 0.0%
Porcentaje de valores √∫nicos en "diabetes": 0.0%
Porcentaje de valores √∫nicos en "epoc": 0.0%
Porcentaje de valores √∫nicos en "asma": 0.0%
Porcentaje de valores √∫nicos en "inmusupr": 0.0%
Porcentaje de valores √∫nicos en "hipertension": 0.0%
Porcentaje de valores √∫nicos en "otra_com": 0.0%
Porcentaje de valores √∫nicos en "cardiovascular": 0.0%
Porcentaje de valores √∫nicos en "obesidad": 0.0%
Porcentaje de valores √∫nicos en "renal_cronica": 0.0%
Porcentaje de valores √∫nicos en "tabaquismo": 0.0%
Porcentaje de valores √∫nicos en "otro_caso": 0.0%
Porcentaje de valores √∫nicos en "migrante": 0.0%
Porcentaje de valores √∫nicos en "uci": 0.0%
Porcentaje de valores √∫nicos en "origen": 0.0%
Porcentaje de valores √∫nicos en "sector": 0.0%
Porcentaje de valores √∫nicos en "sexo": 0.0%
Porcentaje de valores √∫nicos en "tipo_paciente": 0.0%
Porcentaje de valores √∫nicos en "nacionalidad": 0.0%
Porcentaje de valores √∫nicos en "defuncion": 0.0%

In [ ]:
# Moda - valor que m√°s se repite en cada columna excepto los indicadores √∫nicos
for col in categorical.drop(columns='id_registro').columns:
  print('Valor m√°s popular en "{}": {}'.format(col, statistics.mode(categorical[col])))

Valor m√°s popular en "fecha_actualizacion": 2020-09-06 00:00:00
Valor m√°s popular en "fecha_ingreso": 2020-07-20 00:00:00
Valor m√°s popular en "fecha_sintomas": 2020-07-20 00:00:00
Valor m√°s popular en "fecha_def": NaT
Valor m√°s popular en "pais_nacionalidad": M√É¬©xico
Valor m√°s popular en "pais_origen": 99
Valor m√°s popular en "entidad_res": CIUDAD DE M√âXICO
Valor m√°s popular en "municipio_res": IZTAPALAPA
Valor m√°s popular en "entidad_um": CIUDAD DE M√âXICO
Valor m√°s popular en "entidad_nac": CIUDAD DE M√âXICO
Valor m√°s popular en "intubado": NO APLICA
Valor m√°s popular en "neumonia": NO
Valor m√°s popular en "embarazo": NO
Valor m√°s popular en "habla_lengua_indig": NO
Valor m√°s popular en "diabetes": NO
Valor m√°s popular en "epoc": NO
Valor m√°s popular en "asma": NO
Valor m√°s popular en "inmusupr": NO
Valor m√°s popular en "hipertension": NO
Valor m√°s popular en "otra_com": NO
Valor m√°s popular en "cardiovascular": NO
Valor m√°s popular en "obesidad": NO
Valor m√°s popular en "renal_cronica": NO
Valor m√°s popular en "tabaquismo": NO
Valor m√°s popular en "otro_caso": SI
Valor m√°s popular en "migrante": NO ESPECIFICADO
Valor m√°s popular en "uci": NO APLICA
Valor m√°s popular en "origen": FUERA DE USMER
Valor m√°s popular en "sector": SSA
Valor m√°s popular en "sexo": MUJER
Valor m√°s popular en "tipo_paciente": AMBULATORIO
Valor m√°s popular en "nacionalidad": MEXICANA
Valor m√°s popular en "defuncion": False

####Num√©ricas

In [ ]:
numerical.describe()

               edad     resultado  ...   mes_ingreso  a√±o_ingreso
count  1.431633e+06  1.431633e+06  ...  1.431633e+06    1431633.0
mean   4.222703e+01  1.614560e+00  ...  6.643780e+00       2020.0
std    1.679400e+01  5.930691e-01  ...  1.328136e+00          0.0
min    0.000000e+00  1.000000e+00  ...  1.000000e+00       2020.0
25%    3.000000e+01  1.000000e+00  ...  6.000000e+00       2020.0
50%    4.100000e+01  2.000000e+00  ...  7.000000e+00       2020.0
75%    5.300000e+01  2.000000e+00  ...  8.000000e+00       2020.0
max    1.200000e+02  3.000000e+00  ...  9.000000e+00       2020.0

[8 rows x 6 columns]

##An√°lisis Exploratorio

En esta secci√≥n responderemos algunas preguntas sobre el set de datos usando las herramientas que hemos visto hasta ahora

In [ ]:
# ¬øCu√°ntas pruebas por origen se realizan?
data.groupby('origen').id_registro.count()

origen
FUERA DE USMER    955727
USMER             475906
Name: id_registro, dtype: int64

In [ ]:
data.origen.value_counts()

FUERA DE USMER    955727
USMER             475906
Name: origen, dtype: int64

In [ ]:
# ¬øCu√°ntas pruebas por sector se realizan?
data.sector.value_counts()

SSA                889972
IMSS               367613
ISSSTE              54153
PRIVADA             53792
ESTATAL             26224
PEMEX               12415
IMSS-BIENESTAR       9829
SEMAR                7504
SEDENA               7010
MUNICIPAL            1142
UNIVERSITARIO         942
DIF                   817
CRUZ ROJA             212
NO ESPECIFICADO         8
Name: sector, dtype: int64

In [ ]:
# ¬øCu√°ntos pacientes por sexo tenemos?
data.sexo.value_counts()

MUJER     726460
HOMBRE    705173
Name: sexo, dtype: int64

In [ ]:
# ¬øCu√°l es la proporci√≥n de los pacientes por sexo?
data.sexo.value_counts(normalize=True)

MUJER     0.507435
HOMBRE    0.492565
Name: sexo, dtype: float64

In [ ]:
# ¬øCu√°l es la proporci√≥n de resultados de las pruebas?
data.resultado.value_counts(normalize=True)

2    0.499706
1    0.442867
3    0.057427
Name: resultado, dtype: float64

In [ ]:
# ¬øCu√°ntas pruebas positivas tenemos en el set?
data[data.resultado == 'Positivo SARS-CoV-2'].id_registro.count()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

0

In [ ]:
# ¬øCu√°ntos casos positivos tenemos por mes?
data[data.resultado == 'Positivo SARS-CoV-2'].mes_ingreso.value_counts().sort_index()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Series([], Name: mes_ingreso, dtype: int64)

In [ ]:
# ¬øCu√°l es el resultado de las pruebas por sexo?
data.groupby(['sexo','resultado'])['id_registro'].count()

sexo    resultado
HOMBRE  1            331703
        2            333021
        3             40449
MUJER   1            302320
        2            382374
        3             41766
Name: id_registro, dtype: int64

In [ ]:
data.groupby('sexo').resultado.value_counts()

sexo    resultado
HOMBRE  2            333021
        1            331703
        3             40449
MUJER   2            382374
        1            302320
        3             41766
Name: resultado, dtype: int64

In [ ]:
# ¬øQu√© proporci√≥n de resultados de pruebas tenemos por sexo?
data.groupby('sexo').resultado.value_counts(normalize=True)

sexo    resultado
HOMBRE  2            0.472254
        1            0.470385
        3            0.057360
MUJER   2            0.526352
        1            0.416155
        3            0.057492
Name: resultado, dtype: float64

In [ ]:
# ¬øCu√°l es la edad de los pacientes por sexo?
data.groupby('sexo').edad.describe()

           count       mean        std  min   25%   50%   75%    max
sexo
HOMBRE  705173.0  42.763535  17.107240  0.0  30.0  41.0  54.0  120.0
MUJER   726460.0  41.706240  16.467541  0.0  30.0  40.0  52.0  120.0

In [ ]:
def q25(x):
  return x.quantile(0.25)

def q75(x):
  return x.quantile(0.75)

data.groupby('sexo').agg({'edad': ['min', q25, 'median', q75, 'max']})

       edad
        min q25 median q75  max
sexo
HOMBRE    0  30     41  54  120
MUJER     0  30     40  52  120

In [ ]:
# ¬øCu√°l es la edad de los pacientes dependiendo de si son intubados o no?
data.groupby('intubado').edad.describe()

                     count       mean        std  min    25%   50%   75%    max
intubado
NO                223402.0  53.641901  19.466004  0.0  42.00  56.0  67.0  118.0
NO APLICA        1179053.0  39.730309  15.047462  0.0  29.00  38.0  49.0  120.0
NO ESPECIFICADO      164.0  52.969512  18.181236  0.0  40.75  54.0  66.0   92.0
SI                 29014.0  55.734128  18.868827  0.0  47.00  59.0  68.0  108.0

In [ ]:
data.groupby('intubado').agg({'edad': ['min', q25, 'median', q75, 'max']})

                edad
                 min    q25 median q75  max
intubado
NO                 0  42.00     56  67  118
NO APLICA          0  29.00     38  49  120
NO ESPECIFICADO    0  40.75     54  66   92
SI                 0  47.00     59  68  108

In [ ]:
# ¬øCu√°l es la edad m√°xima y cu√°l es la m√≠nima de los pacientes fallecidos?
edad_def_max = data[data.defuncion].edad.max()
data[data.defuncion & (data.edad == edad_def_max)]

       fecha_actualizacion id_registro  ... mes_ingreso a√±o_ingreso
594521          2020-09-06      1b7b20  ...           5        2020

[1 rows x 40 columns]

In [ ]:
edad_def_min = data[data.defuncion].edad.min()
data[data.defuncion & (data.edad == edad_def_min)]

        fecha_actualizacion id_registro  ... mes_ingreso a√±o_ingreso
1267             2020-09-06      083c34  ...           5        2020
2222             2020-09-06      02f8e2  ...           5        2020
34009            2020-09-06      014b5d  ...           5        2020
40946            2020-09-06      1c724e  ...           4        2020
45769            2020-09-06      1b82ee  ...           5        2020
...                     ...         ...  ...         ...         ...
1352055          2020-09-06      128a4d  ...           7        2020
1358885          2020-09-06      1d807b  ...           8        2020
1365644          2020-09-06      0860f4  ...           6        2020
1400427          2020-09-06      00f39c  ...           7        2020
1415172          2020-09-06      07cf0b  ...           8        2020

[238 rows x 40 columns]

In [ ]:
# ¬øCu√°l es la edad de los pacientes que fallecen?
data.groupby('defuncion').edad.describe()

               count       mean        std  min   25%   50%   75%    max
defuncion
False      1345406.0  40.969435  16.094489  0.0  30.0  40.0  51.0  120.0
True         86227.0  61.849328  15.208202  0.0  53.0  63.0  72.0  109.0

In [ ]:
# ¬øCu√°ntas defunciones tenemos por mes?
data[data.defuncion].mes_def.value_counts().sort_index()

1.0        6
2.0       12
3.0      232
4.0     5292
5.0    16059
6.0    21354
7.0    23565
8.0    18179
9.0     1528
Name: mes_def, dtype: int64

In [ ]:
# ¬øCu√°l es la proporci√≥n de di√°beticos para las defunciones?
data.groupby('diabetes').defuncion.value_counts(normalize=True)

diabetes   defuncion
NO         False        0.957717
           True         0.042283
SE IGNORA  False        0.872894
           True         0.127106
SI         False        0.813124
           True         0.186876
Name: defuncion, dtype: float64

In [ ]:
# ¬øCu√°l es la proporci√≥n de asm√°ticos para las defunciones?
data.groupby('asma').defuncion.value_counts(normalize=True)

asma       defuncion
NO         False        0.939437
           True         0.060563
SE IGNORA  False        0.864059
           True         0.135941
SI         False        0.957669
           True         0.042331
Name: defuncion, dtype: float64

In [ ]:
#PACIENTES CON HIPERTENSI√ìN ES IGUAL A UN RIESGO MAYOR DE DEFUNCI√ìN 

data.groupby('hipertension').defuncion.value_counts()

hipertension  defuncion
NO            False        1149564
              True           47531
SE IGNORA     False           3382
              True             490
SI            False         192460
              True           38206
Name: defuncion, dtype: int64

In [ ]:
#CASOS CONFIRMADOS POR ESTADO

data[data.resultado == 1].entidad_res.value_counts()

CIUDAD DE M√âXICO                   104981
M√âXICO                              70699
GUANAJUATO                          34137
NUEVO LE√ìN                          31473
VERACRUZ DE IGNACIO DE LA LLAVE     29544
TABASCO                             29281
PUEBLA                              28133
TAMAULIPAS                          25605
COAHUILA DE ZARAGOZA                22885
SONORA                              22275
JALISCO                             21805
SAN LUIS POTOS√ç                     19534
BAJA CALIFORNIA                     17647
SINALOA                             16713
MICHOAC√ÅN DE OCAMPO                 16263
YUCAT√ÅN                             15665
GUERRERO                            15548
OAXACA                              14240
HIDALGO                             10895
QUINTANA ROO                        10745
CHIHUAHUA                            8384
BAJA CALIFORNIA SUR                  8294
DURANGO                              7103
QUER√âTARO                            7086
TLAXCALA                             6664
CHIAPAS                              6319
AGUASCALIENTES                       5992
ZACATECAS                            5841
CAMPECHE                             5710
MORELOS                              5357
NAYARIT                              5254
COLIMA                               3951
Name: entidad_res, dtype: int64

In [ ]:
#DEFUNCIONES POR ESTADO

data[data.defuncion].entidad_res.value_counts()

M√âXICO                             13106
CIUDAD DE M√âXICO                   11693
VERACRUZ DE IGNACIO DE LA LLAVE     4670
PUEBLA                              4473
BAJA CALIFORNIA                     3982
JALISCO                             3677
SINALOA                             3594
NUEVO LE√ìN                          3314
SONORA                              3166
TABASCO                             2881
GUANAJUATO                          2871
TAMAULIPAS                          2743
GUERRERO                            2212
COAHUILA DE ZARAGOZA                1993
HIDALGO                             1974
CHIHUAHUA                           1963
QUINTANA ROO                        1841
MICHOAC√ÅN DE OCAMPO                 1792
YUCAT√ÅN                             1748
SAN LUIS POTOS√ç                     1632
OAXACA                              1572
TLAXCALA                            1266
CHIAPAS                             1216
MORELOS                             1205
CAMPECHE                             943
QUER√âTARO                            935
NAYARIT                              779
ZACATECAS                            710
DURANGO                              676
COLIMA                               562
AGUASCALIENTES                       536
BAJA CALIFORNIA SUR                  502
Name: entidad_res, dtype: int64

In [ ]:
#FALLECIMIENTOS OCURRIDOS EN EL ESTADO CON MAYOR NUMERO DE CASOS CONFIRMADOS

data[(data.resultado == 1) & (data.entidad_res == "CIUDAD DE M√âXICO") & (data.defuncion)].entidad_res.value_counts()

CIUDAD DE M√âXICO    8701
Name: entidad_res, dtype: int64

In [ ]:
#FALLECIMIENTOS OCURRIDOS EN PACIENTES AMBULATORIOS

data[(data.tipo_paciente == 'AMBULATORIO') & (data.defuncion)].tipo_paciente.value_counts()

AMBULATORIO    9193
Name: tipo_paciente, dtype: int64

üîùüîùüîù ¬øTienen los pacientes con hipertensi√≥n un riesgo m√°s alto de defunci√≥n?

In [ ]:

data.groupby('hipertension').defuncion.value_counts(normalize=True)

hipertension  defuncion
NO            False        0.960295
              True         0.039705
SE IGNORA     False        0.873450
              True         0.126550
SI            False        0.834367
              True         0.165633
Name: defuncion, dtype: float64

üîùüîùüîù ¬øCu√°ntos casos confirmados se tienen por Estado?

In [ ]:
data[data.resultado == 1].entidad_res.value_counts()

CIUDAD DE M√âXICO                   104981
M√âXICO                              70699
GUANAJUATO                          34137
NUEVO LE√ìN                          31473
VERACRUZ DE IGNACIO DE LA LLAVE     29544
TABASCO                             29281
PUEBLA                              28133
TAMAULIPAS                          25605
COAHUILA DE ZARAGOZA                22885
SONORA                              22275
JALISCO                             21805
SAN LUIS POTOS√ç                     19534
BAJA CALIFORNIA                     17647
SINALOA                             16713
MICHOAC√ÅN DE OCAMPO                 16263
YUCAT√ÅN                             15665
GUERRERO                            15548
OAXACA                              14240
HIDALGO                             10895
QUINTANA ROO                        10745
CHIHUAHUA                            8384
BAJA CALIFORNIA SUR                  8294
DURANGO                              7103
QUER√âTARO                            7086
TLAXCALA                             6664
CHIAPAS                              6319
AGUASCALIENTES                       5992
ZACATECAS                            5841
CAMPECHE                             5710
MORELOS                              5357
NAYARIT                              5254
COLIMA                               3951
Name: entidad_res, dtype: int64

üîùüîùüîù ¬øCu√°ntas defunciones se tienen por Estado?

In [ ]:

data[data.defuncion].entidad_res.value_counts()

M√âXICO                             13106
CIUDAD DE M√âXICO                   11693
VERACRUZ DE IGNACIO DE LA LLAVE     4670
PUEBLA                              4473
BAJA CALIFORNIA                     3982
JALISCO                             3677
SINALOA                             3594
NUEVO LE√ìN                          3314
SONORA                              3166
TABASCO                             2881
GUANAJUATO                          2871
TAMAULIPAS                          2743
GUERRERO                            2212
COAHUILA DE ZARAGOZA                1993
HIDALGO                             1974
CHIHUAHUA                           1963
QUINTANA ROO                        1841
MICHOAC√ÅN DE OCAMPO                 1792
YUCAT√ÅN                             1748
SAN LUIS POTOS√ç                     1632
OAXACA                              1572
TLAXCALA                            1266
CHIAPAS                             1216
MORELOS                             1205
CAMPECHE                             943
QUER√âTARO                            935
NAYARIT                              779
ZACATECAS                            710
DURANGO                              676
COLIMA                               562
AGUASCALIENTES                       536
BAJA CALIFORNIA SUR                  502
Name: entidad_res, dtype: int64

üîùüîùüîù¬øCu√°ntos fallecimientos han ocurrido en el Estado con mayor n√∫mero de casos confirmados?

In [ ]:
data[(data.resultado == 1) & (data.entidad_res == "M√âXICO") & (data.defuncion)].entidad_res.value_counts()

M√âXICO    10376
Name: entidad_res, dtype: int64

üîùüîùüîù ¬øCu√°ntos fallecimientos han ocurrido en los pacientes Ambulatorios?

In [ ]:
data.groupby('tipo_paciente').defuncion.value_counts()

tipo_paciente  defuncion
AMBULATORIO    False        1169860
               True            9193
HOSPITALIZADO  False         175546
               True           77034
Name: defuncion, dtype: int64